/**css reset**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.header {
    overflow: hidden;
    padding: 0px 0px;
    background-color: transparent;
  }
  .header a {
    float: left;
    /*color: black;*/
    text-align: center;
    padding-top: 20px;
    padding: 12px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .uk-container.uk-container-expand {
    padding-bottom: 10px;
}
.uk-navbar-left {
  padding-top: 10px;
}
  .uk-navbar-nav>li.uk-active>a {
    color: #666;
}
.uk-navbar-nav>li>a {
    color: #666;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}
.uk-navbar-nav>li>a:hover{
    color: #999;
}
  .header a.notification a:hover{
     color:#999;
  }
  
  .header a.logo img{
      width: 200;
      height:70;
  }  

  .header-right a:visited {
    background-color: #e6eaf5;
  }
  .header-right a:hover {
    background-color: #5288de;
    color: white;
  }
  
  .header-right {
      margin: 20px;
      float: right;
  }
  .uk-container.uk-container-expand {
    padding-bottom: 10px;
}
  /*.bod{
      overflow: hidden;
  }*/
/*body.bod{
    background-image: url(../img/background1.png);
    min-height:100vh;
    background-size: cover;
}*/
h1.uk-card-title.uk-text-center {
    color: #5288de;
    background: #f8f8f8;
    font-weight: 300;
    font-size: 25px;
    padding: 15px 25px;
    line-height: 30px;
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: 20px;
}
/*.uk-section.uk-section-small {
  background-image: url(../../assets/img/backprof41.png);
  min-height: calc(100% - 20px);
      margin-bottom: -60px;
      background-size: auto;
    }*/
.uk-container1 {
    margin-top: 50px;
}
.formulaire {
  background-color: #F6F5F4;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  width: 60%;
  margin-left: 20%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.formulaire input{
    margin-bottom: 10px;
}
.formulaire h1{
    text-align: center;
    padding-bottom: 10px;
    color: #5288de/*#AEAEAE*/;
    /*background: #f8f8f8;*/
    font-weight: bolder;
    font-size: 25px;
    padding: 15px 25px;
    line-height: 30px;
} 

.submit{
    width: auto;
    margin-left: 15px;
    margin-bottom: 15px;
}
.uk-inline.uk-width-1-1 {
    margin-bottom: 10px;
}
.col-md-6 {
    background-color: #F6F5F4;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    width: 60%;
    margin-left: 25%;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contentpanel {
    background-color: #5288de;
}
.contentpanel {
  overflow-x: hidden;
}
/*@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }*/

  img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 25%;
}

label.col-sm-3.control-label {
  max-width: none;
}
  /*============================================================================================================*/
  html, body {
    height:100%;

}
body{
  padding-bottom: 20px;
}

#page-wrapper {
  background-image: url(../../assets/img/backadmininstrateur.png);
 min-height: calc(100% - 20px);
    margin-bottom: -60px;
    background-size: auto;
}
/*#page-wrapper1:after {
    content: "";
    display: block;
}*/
/*#page-footer, #page-wrapper1:after {
    height: 60px;
}*/
#page-footer {
    /*background-color: #f5f5f5;*/
}

  .footer-clean {
  
    left: 0;
    bottom: 0;
    width: 100%;  
    padding:0px 0;
  /*  background-color:#fffafb;*/
   /*color: #4b4c4d;*/
    }
    
    .footer-clean h3 {
      margin-top:0;
      margin-bottom:12px;
      font-weight:bold;
      font-size:16px;
    }
    
    .footer-clean ul {
      padding:0;
      list-style:none;
      line-height:1.6;
      font-size:14px;
      margin-bottom:0;
      opacity:0.8;
    }
    
    .footer-clean ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    .footer-clean ul a:hover {
      opacity:1;
    }
    
    .footer-clean .item.social {
      text-align:right;
    }
    
    .footer-clean .item.social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #ccc;
      margin-left:10px;
      margin-top:22px;
      color:inherit;
      opacity:0.75;
    }
    
    .footer-clean .item.social > a:hover {
      opacity:0.9;
    }
    
    .footer-clean .copyright {
      margin-top:14px;
      margin-bottom:0;
      font-size:13px;
      opacity:0.6;
    }
    
    .panel-footer {
      text-align: center;
  }

  .form-group {
    margin-left: 20%;
}

h4.panel-title {
  text-align: center;
}